@media (max-width: 1060px) {
   
    header{
        font-size: 16px;
    }
    .logo{
        margin: 0;
    }

    header .logo a{
        overflow: hidden;
    }
    .logo-text{
        font-size: 1rem;
    }
    header nav {
        display: none;
    }
    
    .main-body{
        font-size: 16px;
        overflow-x: hidden;
    }
    .main-title{
        font-size: 1rem;
    }
    .about-main{
        margin: 0 auto;
        padding: 0 13px;
    }
    .container{
        padding: 0;
    }


    .main-content{
        margin: 0 auto;
        overflow-x: hidden;
    }
    .content-box {
        flex-wrap: wrap;
    }
    .main-body2{
        flex-flow: wrap;
    }
     h1{
        text-align: center;
        margin: 0;
    }
    .big-text{
        overflow-y: hidden;
    }
    .sm-cnt{
        margin:30px 0;
    }
   
    .main-body3{
        flex-flow: wrap;
    }
    .f-cnt{
        margin: 20px 0;
        overflow-y: hidden;
        width: calc(100% - 15px);
    }
    .btn{
        overflow-y: hidden;
    }
    .stats-cnt  {
        flex-flow: wrap;
        display: flex;
    }
    .stat-cnt1{
        margin: 10px 0;
    }

    .last-cnt{
        display: flex;
        flex-direction: column;
        height: 1000px !important;
    }
    .main-bx{
        flex-flow: column;
        
    }
    footer {
        flex-direction: column;
        flex-flow: column;
        display: flex;
    }
}